#chart {
  margin: 0;
}

.chart-container {
  width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;

  padding: 2rem 0rem;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chart-title {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
  /* color: #751fa2; */
}
