<main>
  <div class="chart-container">
    <h1 class="chart-title">{{ symbol }}</h1>
    <figure id="chart">
      <div id="tooltip" class="hidden">
        <p><span id="value">100</span></p>
      </div>
    </figure>
  </div>

  <div class="smoothing-container">
    <label for="smoothing">Moving average window size: {{ input }} </label>
    <input
      id="smoothing"
      [(ngModel)]="input"
      type="range"
      value="1"
      min="1"
      max="19"
      (change)="updateData()"
    />
  </div>
  <app-pick-stocks></app-pick-stocks>
</main>
