<main>
  <app-pick-stocks (newStockEvent)="updateStock($event)"></app-pick-stocks>
  <hr />
  <div class="chart-container">
    <h1 class="chart-title">{{ symbol }}</h1>
    <figure id="chart">
      <div id="tooltip" class="hidden">
        <p><span id="value">100</span></p>
      </div>
    </figure>
  </div>

  <div class="smoothing-container">
    <input
      id="smoothing"
      [(ngModel)]="input"
      type="range"
      value="1"
      min="1"
      max="100"
      (change)="updateSmoothing()"
    />
    <label for="smoothing">Moving average window size: {{ input }} </label>
  </div>
</main>
