<mat-toolbar color="primary">  
  <!-- <span>Finance</span> -->

  <a mat-button routerLink="charts">Charts</a>
  <a mat-button routerLink="overview">Overview</a>
  <a mat-button routerLink="pick-stocks">Pick-Stocks</a>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- <div>
  <h1>{{title}}</h1>

  <nav>
    <div>
      <a routerLink="/overview">Overview</a>
    </div>
    <div>
      <a routerLink="/charts">Charts</a>
    </div>
    <div>
      <a routerLink="/pick-stocks">Pick Stocks</a>
    </div>
  </nav>

  <hr>

  <h2>Signe är bäst</h2>


  <router-outlet></router-outlet>

</div> -->